.add-to-cart{
    background-color: #83c5be !important;
    color: #fff !important;
    padding: 6px 8px !important;
}

.view-detail{
    border: 1px solid #83c5be !important;
    color: #83c5be !important;
    padding: 6px 8px !important;
}